body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  color: #f8f8f8;
}



::selection{
  background-color: rgb(246,138,224);
  color: rgb(239,6,192);
}

.center{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}